<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Water Tower Autonomous System</h1>
    <p>Remote and modern administration.</p>
  </div>
</div>
    
</div>

<div class="container" id="content">
    <div class="row">
        </div>
            <div id="fondo" class="col-md-2 col-md-offset-2">
             
            <div id="log">
            </div> <!-- /#log -->
            </div>   
    </div>

</div>


</body>
</html>